<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  integrity="sha512-wu9R9JbzxXME5…"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<nav class="side-nav">
  <a class="nav-link home" href="/">
    <i class="fa-solid fa-house"></i>
  </a>
  <a class="nav-link boom" href="/boom">
    <i class="fa-regular fa-clock"></i>
  </a>
  <a class="nav-link boom" href="/kanban">
    <i class="fa-regular fa-rectangle-list"></i>
  </a>
  <a class="nav-link boom" href="/calendar">
    <i class="fa-regular fa-calendar"></i>
  </a>
</nav>
